@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D1B2A;
  --primary: #E0E1DD;
  --accent: #FCA311;
  --card: #1B263B;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--card);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  opacity: 0.8;
}
